<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

    </head>
    <body>
        <div class="wholebody">
            <h2 class="heading">CGPA calculator</h2>
            
            <div class="form">
                <input type="number" class="numberofsubjects" id="totalsubjects" placeholder="NumberofSubjects" required>
                <button class="totalsubjectsubmit" id="totalsubjectsubmit">Submit</button>
            </div>

            <div class="Enterresult" id="formdynamic">


            </div>
            <div class="showresult" id="showresult">


            </div>
         <div id="confetti-container"></div>
        






    </div>

    <button id="imagedemo" class="screenshot">From Image</button> 

    <script src={{url_for('static',filename='js/app.js')}}></script>
    </body>
</html>